.product-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.product-image {
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-image img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.product-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.product-title {
  flex: 1;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.product-price {
  margin-top: auto;
  font-weight: 600;
}
